@media screen and (max-width: 884px) {
    .container {
        width: 47%;
    }
    .footer-wrapper {
        display: block;
    }
    .footer-right p {
        margin-top: 10px;
        font-size: 10px;
    }
    .company-list {
        display: block;
    }
    .company-right {
        padding-left: 10px;
        padding-top: 10px;
    }
    .company-list2 {
        display: block;
    }
}